%table.table.table-buttons
  %tbody
    %tr
      %td
        %button.btn-default.btn
          1
      %td
        %button.btn-default.btn
          2
      %td
        %button.btn-default.btn
          3
    %tr
      %td
        %button.btn-default.btn
          4
      %td
        %button.btn-default.btn
          5
      %td
        %button.btn-default.btn
          6
    %tr
      %td
        %button.btn-default.btn
          7
      %td
        %button.btn-default.btn
          8
      %td
        %button.btn-default.btn
          9
    %tr
      %td
        %button.btn-default.btn
          C
      %td
        %button.btn-default.btn
          S

