%table.table.table-buttons
  %tbody
    %tr
      %td
        %button.btn-default.btn.buttons
          1
      %td
        %button.btn-default.btn.buttons
          2
      %td
        %button.btn-default.btn.buttons
          3
    %tr
      %td
        %button.btn-default.btn.buttons
          4
      %td
        %button.btn-default.btn.buttons
          5
      %td
        %button.btn-default.btn.buttons
          6
    %tr
      %td
        %button.btn-default.btn.buttons
          7
      %td
        %button.btn-default.btn.buttons
          8
      %td
        %button.btn-default.btn.buttons
          9
    %tr
      %td
        %button.btn-default.btn.buttons
          C
      %td
        %button.btn-default.btn.buttons
          S
