%table.table.table-buttons
  %tbody
    %tr
      %td
        %button.btn-default.btn.buttons
          1
      %td
        %button.btn-default.btn.buttons
          2
      %td
        %button.btn-default.btn.buttons
          3
    %tr
      %td
        %button.btn-default.btn.buttons
          4
      %td
        %button.btn-default.btn.buttons
          5
      %td
        %button.btn-default.btn.buttons
          6
    %tr
      %td
        %button.btn-default.btn.buttons
          7
      %td
        %button.btn-default.btn.buttons
          8
      %td
        %button.btn-default.btn.buttons
          9
%table.table.table-buttons
  %tbody
    %tr
      %td
        %button.btn-default.btn#cancel
          Cancel
    - if params[:action] == 'show'
      %tr
        %td
          = button_to 'Build', action: 'build'
      %tr
        %td
          = button_to 'Solve', action: 'solve'
    - elsif params[:action] == 'new'
      %tr
        %td
          #create.btn.btn-default
            Create

