= link_to "Add Puzzle", new_puzzle_path, class: "btn btn-default"
%h2
  Puzzles
%table.table
  %thead
    %tr
      %td
        Puzzle ID
      %td
        Puzzle Name
  %tbody
    - @puzzles.each do |puzzle|
      %tr
        %td
          = puzzle.id
        %td
          =link_to puzzle.name, puzzle



